<body>
  <div class="ui left vertical menu sidebar ">
    <a class="item sidebar-item">
        <span class="main-nav-logo-text">Joungwoo Baik</span>
    </a>
    
    <a class="item sidebar-item">
      APPLE
    </a>
    <a class="item sidebar-item">
      SAMSUNG
    </a>
    <a class="item sidebar-item">
      SONY
    </a>
  </div>
  
</body>