<body>
  <div class="ui left vertical menu sidebar ">
    <a class="item sidebar-item">
        <span class="close-icon"><i class="times circle icon"></i></span>
    </a>
    
    <a class="item sidebar-item">
      APPLE
    </a>
    <a class="item sidebar-item">
      SAMSUNG
    </a>
    <a class="item sidebar-item">
      SONY
    </a>
  </div>
  
</body>