<body>
  <div class="ui left vertical menu sidebar ">
    <a class="item">
    
    </a>
    <a class="item">

    </a>
    <a class="item">
      1
    </a>
    <a class="item">
      2
    </a>
    <a class="item">
      3
    </a>
  </div>
</body>