<div class="main-content">
    <div class="my-container">

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>
        
        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>

        <div class="my-card">
            <div class="my-card-image">
              <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
            </div>
            <div class="my-card-date">
              FEB 20
            </div>
            <div class="my-card-title">
              Catch of the Day
            </div>
            <hr style="width: 50%">
            <div class="my-card-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae distinctio ex accusantiu
            </div>
            <hr class="horizontal-line">
            <div class="my-card-category">
              Ruby on Rails
            </div>
        </div>        
        
        
         
    </div>
</div>


<% @portfolios.each do |portfolio| %>
  <div class="main-content">
    <div class="my-container">
      <div class="my-card">
        <div class="my-card-image">
          <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
        </div>
        <div class="my-card-date">
          <%= portfolio.created_at.strftime("%b %d")%>
        </div>
        <div class="my-card-title">
          <%= portfolio.name %>
        </div>
        <hr style="width: 50%">
        <div class="my-card-description">
          <%= portfolio.description %>
        </div>
        <hr class="horizontal-line">
        <div class="my-card-category">
          <% if portfolio.categories %>
            <% portfolio.categories.each do |category| %>
              <div>
                <%= category.name %>
              </div>
            <% end %>
          <% end %>          
        </div>
      </div>  
    </div>
  </div>
<% end %>