/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

body {
    font-family: 'Coming Soon', cursive;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

.header-nav {
    box-shadow: none !important;
    border-bottom: none !important;
    background: transparent !important;
}
.main-nav-logo {
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Coming Soon', cursive;

}

.main-nav-logo-text {
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 10px;

}

.bars.icon {
    font-size: 24px;
}

.ui.left.vertical.menu.sidebar.uncover.visible:first-child {
    
}
.item.sidebar-item {
    padding: 3rem 0 !important;
}

.close-icon {
    font-size: 2rem;
}