.header-nav {
    box-shadow: none !important;
    border-bottom: none !important;
    background: transparent !important;
}
.main-nav-logo {
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
    font-family: 'Shrikhand', cursive;
    transition: all 0.3s ease-in-out;
}

.main-nav-logo-text {
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

.main-nav-logo-text:hover {
    color: #606060;
    transition: all 0.3s ease-in-out;

}

.main-nav-icons {
    text-align: center;
    top: 20px;
}

.bars.icon {
    font-size: 20px;

}

.item.sidebar-item {
    padding: 3rem 0 !important;
}

.item.sidebar-item:hover {
    color: orange !important;
}

.sidebar-img {
    height: 30px;
    margin-bottom: 0.5rem !important;
    
}


.sidebar-profile-img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 1rem !important;
}

.main-content {
    
    padding: 4rem 2.5rem;
}
