// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-portfolio-container {
    width: 100%;
    text-align: center;
}

.my-portfolio-date {
  color: grey;
  padding: 1rem 0;
  font-family: lato;
}

.my-portfolio-title {
  font-size: 42px;
  padding: 1rem 0 0.5rem;
  font-family: 'Enriqueta', serif;
  line-height: normal;
}


.my-portfolio-categories {
  color: gray;
  font-family: lato;
}

.my-portfolio-main {
    margin-top: 2rem;
    display: flex;
    font-family: "Times New Roman","Times","serif";
    font-size: 17px;
    
}

.my-portfolio-description {
    text-align: left;
    line-height: 1.5;
    width: 75%;
    margin: 2rem;
}

.my-portfolio-profile {
    width: 25%;
    text-align: left;
}

.my-portfolio-profile-name a {
  padding-top: 1.5rem;
  color: #FD8844;
  font-size: 27px;
  transition: all 0.3s ease-in-out
}

.my-portfolio-profile-name a:hover {
  color: #181818;
  transition: all 0.3s ease-in-out
}

.my-portfolio-profile-description {
  padding-top: 1.5rem;
  line-height: 2;
}

.my-portfolio-websites {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: 'lobo'
}

.my-portfolio-websites i {
  transition: all 0.3s ease-in-out;
}

.my-portfolio-websites i:hover {
  color: #FD8844;
  font-size: 2.3rem;
  transition: all 0.3s ease-in-out
}

