<div class="ui fixed main menu grid header-nav">
    <div class="three column row">
        <div class="column" id="test"><i class="bars icon"></i></div>
        <div class="column main-nav-logo"><span class="main-nav-logo-text">Joungwoo Baik</span></div>
        <div class="column"><i class="instagram icon"></i><i class="linkedin icon"></i></div>  
        
    </div>
</div>
