<div class="ui fixed main menu grid header-nav">
    <div class="three column row">
        <div class="column" id="test"><i class="bars icon"></i></div>
        <div class="column main-nav-logo"><%= link_to 'Joungwoo Baik', root_path, class: 'main-nav-logo-text' %></div>
        <div class="column main-nav-icons"><i class="github square icon"></i><i class="linkedin icon"></i></div>  
    </div>
</div>
<div>
