<div class="ui fixed main menu grid header-nav">
    <div class="three column row">
        <div class="column" id="test"><i class="bars icon"></i></div>
        <div class="column main-nav-logo"><%= link_to 'Joungwoo Baik', root_path, class: 'main-nav-logo-text' %></div>
        <div class="column my-portfolio-websites main-nav-icons">
            <a href="https://www.github.com/woobaik" target="_blank" data-tooltip="My Github Page! Take a look at my work" data-position="bottom right" data-inverted=""><i class="github square icon"></i></a>
            <a href="https://www.linkedin.com/in/baik/" target="_blank" data-tooltip="Click for my LinkedIn Page!" data-position="bottom right" data-inverted=""><i class="linkedin icon"></i></a>

            
        </div>
    </div>
</div>
<div>
