<div class="ui fixed main menu grid">
    <div class="three column row">
        <div class="column"></div>
        <div class="column main-nav-logo"><span class="main-nav-logo-text">Joungwoo Baik</span></div>
        <div class="column"></div>  
    </div>
</div>